.submit-form {
  margin-top: 20px;
  padding-left: 16px;

  .idea-input {
    position: relative;
    min-width: 500px;
    margin: 10px 0 30px;
    padding: 5px 10px;
    border: solid 1px rgb(99, 92, 92);
    border-radius: 5px;

    &:focus-visible {
      outline: none;
    }
  }
}
