<form class="search-form">
  <div class="idea-input">
    <input
      name="ideaInput"
      type="text"
      matInput
      (keydown.enter)="searchIdeaByDescription($event)"
      placeholder="Input an Idea description to search..."
      [(ngModel)]="searchIdeaInput"
    />
  </div>
  <div *ngIf="!sortTableDataSource.data.length">No Game Ideas found!</div>
</form>

<table
  *ngIf="sortTableDataSource.data.length"
  mat-table
  matSort
  [dataSource]="sortTableDataSource"
  class="mat-elevation-z8"
>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>description</th>
    <td mat-cell *matCellDef="let element">
      <div class="desc-col">
        {{ element.description }}
        <span class="vote-icons">
          <mat-icon
            [class.active]="element.status === 'upvoted'"
            (click)="upvote(element)"
            >thumb_up</mat-icon
          >
          <mat-icon
            [class.active]="element.status === 'downvoted'"
            (click)="downvote(element)"
            >thumb_down</mat-icon
          >
        </span>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="upvotes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>upvotes</th>
    <td mat-cell *matCellDef="let element">
      {{ element.upvotes }}
    </td>
  </ng-container>

  <ng-container matColumnDef="downvotes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>downvotes</th>
    <td mat-cell *matCellDef="let element">
      {{ element.downvotes }}
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>you voted</th>
    <td mat-cell *matCellDef="let element">
      {{ element.status === "none" ? "no" : "yes" }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div class="submit-idea">
  <a routerLink="/submit-idea">Submit your Game Idea!</a>
</div>
